hr{
    border-top: 2px solid black !important;
}
.disableRightClick{
    width: 18rem;
}
.disableRightClick>img{
    width: 100%;
}
.stegano{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
/* .stegano>img{
    width: 100%;
} */
.resolution{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.getpos{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.navigateur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}
.metaDataImg{
    width: 25rem;
}
#mydiv{
    font-size: 35px;
    text-align: center;
}
@media screen and (max-width: 640px) {
    .lorem{
        width: 80%;
    }
    /* .stegano>img{
        width: 80%;
    } */
    video{
        width: 80%;
    }
    .iframe{
        width: 11rem;
    }
}
